<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Contact</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/contact.css" />
  </head>
  <body>
    <header>
      <nav>
        <img src="./assets/logo.png" alt="error" />
        <ul>
          <a><li>Home</li></a>
          <a><li>About</li></a>
          <a><li>Services</li></a>
          <a><li>Staffing</li></a>
          <a><li>Openings</li></a>
          <a><li>Contact</li></a>
        </ul>
      </nav>
    </header>
    <div class="container-1">
      <div class="con1-1">
        <h3>Let's Get in Touch!</h3>
        <p>
          Have a question or need assistance?Reach out to us via email, Phone or
          the contact form below. We are eager to assist you. Nice hearing from
          you...!
        </p>
      </div>
      <div class="con1-2">
        <form class="contact-form">
          <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="text" id="fullname" name="fullname" required />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
          </div>

          <div class="form-group">
            <label for="message">Message</label>
            <textarea id="message" name="message" rows="8" required></textarea>
          </div>

          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <footer>
      <div class="footer-start">
        <div class="quicklinks">
          <ul>
            <a href="#"
              ><li
                style="
                  font-size: 25px;
                  font-weight: bold;
                  text-decoration: underline;
                "
              >
                Quicklinks:
              </li></a
            ><br />
            <a href="#"><li>Home</li></a>
            <a href="#"><li>About</li></a>
            <a href="#"><li>Services</li></a>
            <a href="#"><li>Staffing</li></a>
            <a href="#"><li>Contact</li></a>
          </ul>
        </div>
        <div class="quicklinks">
          <ul>
            <a href="#"
              ><li
                style="
                  font-size: 25px;
                  font-weight: bold;
                  text-decoration: underline;
                "
              >
                Contact:
              </li></a
            ><br />
            <a href="#"><li>Adress</li></a>
            <a href="#"><li>Phone No</li></a>
            <a href="#"><li>Email</li></a>
            <a href="#"><li>More</li></a>
          </ul>
        </div>
        <div class="quicklinks">
          <ul>
            <a href="#"
              ><li
                style="
                  font-size: 25px;
                  font-weight: bold;
                  text-decoration: underline;
                "
              >
                Our Services:
              </li></a
            ><br />
            <a href="#"><li>Infrastructure and Management</li></a>
            <a href="#"><li>Cloud Services</li></a>
            <a href="#"><li>Trainig Services</li></a>
            <a href="#"><li>Emerging Technology</li></a>
          </ul>
        </div>
      </div>
      <div class="footer-end">
        <h3>Follow US</h3>
      </div>
      <div class="footer-end">
        <img src="./assets/fb.png" alt="" />
        <img src="./assets/insta.png" alt="" />
        <img src="./assets/yt.png" alt="" />
        <img src="./assets/li.png" alt="" />
      </div>
    </footer>

    <script src="" async defer></script>
  </body>
</html>
