<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="./assets/logo.png" alt="error" />
        <ul>
          <a><li>Home</li></a>
          <a><li>About</li></a>
          <a><li>Services</li></a>
          <a><li>Staffing</li></a>
          <a><li>Openings</li></a>
          <a><li>Contact</li></a>
        </ul>
      </nav>
    </header>
    <div class="container-1">
      <div class="container-2">
        <h1>Welcome to Mangos Orange</h1>
        <p>
          We are an Integrated Service Provider Company with a knack of
          customized solutions for our Esteemed National & Multinational Brands.
        </p>
        <button class="register">Register</button>
      </div>
      <div class="img-border"></div>
      <img class="sub-img" src="./assets/black.jpg" alt="error" />
      <img class="main-img" src="./assets/bussiness.png" alt="error" />
    </div>
    <div class="container-3">
      <div class="con3">
        <!-- <img class="sub-img" src="crec-img.png" alt="error" /> -->
        <div class="sub-img"></div>
        <img class="main-img" src="./assets/c3.jpg" alt="error" />
      </div>
      <div class="con31">
        <p>
          MangosOrange Group aspires to be a fortune 500 company in the coming
          years. We are an integrated service provider company with a knack of
          customized solutions for our esteemed national & multinational brands.
          With a cumulative team experience of more than 100 years we have
          delivered quality staffing solutions, skill development projects,
          Integrated Facility Management Services. Some of Our Services Include:
        </p>
        <ul>
          <li>
            Staffing Solutions including Contract Labour & Payroll Services.
          </li>
          <li>Work Integrated Skill Training & Apprenticeship (WISTA).</li>
          <li>Vocational Education & Skill Development Projects.</li>
          <li>
            Catering Services in Industries, Hospitals, Skill Development
            Centers, Hostels & other Establishments.
          </li>
          <li>Research & Development in Agritech & Allied Domain.</li>
        </ul>
      </div>
    </div>
    <div class="container-4">
      <div class="con4-text">
        <h1>Our Range of Services</h1>
        <h3>We provide various range of Services and Staffing Solutions.</h3>
      </div>
      <div class="cards">
        <!-- cards section -->
        <div class="card" style="width: 18rem">
          <img src="./assets/card1.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Staffing Solutions</h5>
            <p class="card-text">
              Staffing Solutions for all major industries like Automobile,
              Electrical, Electronics, Pharmaceutical, Food, Plastic,
              Educational.
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img src="./assets/card2.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Payroll Outsourcing</h5>
            <p class="card-text">
              Fully Automated Process to handle your payroll outsourcing process
              so that possibilities of human errors eradicated.
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img src="./assets/card3.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Skill Development</h5>
            <p class="card-text">
              We are End to End Solutions Providers for Skill Development
              Projects sponsored by different agencies & Ministries.
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img src="./assets/card4.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Facility Management</h5>
            <p class="card-text">
              IFM can increase operational efficiencies & drive savings across a
              business to better meet organizational goals.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-5">
      <div class="sub-img"><h4>100+ Clients</h4></div>
      <img class="main-img" src="./assets/con5-img.jpg" alt="error" />
      <div class="sub-img1">
        <div class="sub-img11">
          <h5>
            10000+ <br />
            Beneficiaries
          </h5>
        </div>
      </div>
      <div class="img-border"></div>
      <div class="con5-text">
        <h1>Why Us?</h1>
        <p>
          We are always striving to improve the service we offer to our
          customers by listening and responding to their needs. We are
          constantly upgrading our services and our goal is to make the service
          standards to the levels to which you can expect us to perform when
          delivering our services..
        </p>
        <ul>
          <li>Expertise</li>
          <li>Personaly Service</li>
          <li>Client - Centric Approach</li>
        </ul>
        <button class="register">Register</button>
      </div>
    </div>

    <div class="container-6">
      <h3>Our Client Love Us</h3>
      <br />
      <img src="./assets/con6-img.jpg" alt="error" />
      <br /><br />
      <p>
        It is not easy to manage so many unknown students from different fields.
        The mentors have truly been tolerant towards us, and have been
        correcting us through their feedbacks. During this pandemic, we as
        interns had a great experience through this internship.
      </p>
      <div class="points">
        <ul>
          <a href="#"><li></li></a>
          <a href="#"><li></li></a>
          <a href="#"><li></li></a>
          <a href="#"><li></li></a>
          <a href="#"><li></li></a>
        </ul>
      </div>
    </div>

    <div class="container-7">
      <div class="con7-shapes">
        <div class="shape">
          <img class="ravisir" src="./assets/ravi.png" alt="error" />
          <div class="position">
            <h3>Ravi Rautela</h3>
            <h5>Founder & CEO - MangosOrange Agritech.</h5>
          </div>
        </div>
        <div class="rec">
          <div class="info">
            <img src="./assets/call.png" height="75px" widtg="75px" alt="" />
            <h5 style="margin-left: 30px">+91-120-416 4821</h5>
          </div>
          <div class="info2">
            <img
              src="./assets/mail.png"
              height="55px"
              widtg="55px"
              alt="error"
            />
            <h5 style="margin-left: 30px">info@mangosorange.com</h5>
          </div>
        </div>
      </div>

      <div class="con7-text">
        <h2>Speak with an Attorney Today...!</h2>
        <br />
        <button class="contact">Contact Us</button>
      </div>
    </div>

    <footer>
      <div class="footer-start">
        <div class="quicklinks">
          <ul>
            <a href="#"
              ><li
                style="
                  font-size: 25px;
                  font-weight: bold;
                  text-decoration: underline;
                "
              >
                Quicklinks:
              </li></a
            ><br />
            <a href="#"><li>Home</li></a>
            <a href="#"><li>About</li></a>
            <a href="#"><li>Services</li></a>
            <a href="#"><li>Staffing</li></a>
            <a href="#"><li>Contact</li></a>
          </ul>
        </div>
        <div class="quicklinks">
          <ul>
            <a href="#"
              ><li
                style="
                  font-size: 25px;
                  font-weight: bold;
                  text-decoration: underline;
                "
              >
                Contact:
              </li></a
            ><br />
            <a href="#"><li>Adress</li></a>
            <a href="#"><li>Phone No</li></a>
            <a href="#"><li>Email</li></a>
            <a href="#"><li>More</li></a>
          </ul>
        </div>
        <div class="quicklinks">
          <ul>
            <a href="#"
              ><li
                style="
                  font-size: 25px;
                  font-weight: bold;
                  text-decoration: underline;
                "
              >
                Our Services:
              </li></a
            ><br />
            <a href="#"><li>Infrastructure and Management</li></a>
            <a href="#"><li>Cloud Services</li></a>
            <a href="#"><li>Trainig Services</li></a>
            <a href="#"><li>Emerging Technology</li></a>
          </ul>
        </div>
      </div>
      <div class="footer-end">
        <h3>Follow US</h3>
      </div>
      <div class="footer-end">
        <img src="./assets/fb.png" alt="" />
        <img src="./assets/insta.png" alt="" />
        <img src="./assets/yt.png" alt="" />
        <img src="./assets/li.png" alt="" />
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
